<div>
  <div class="border-b pb-10 mb-10 flex gap-4">
    <% base_classes = "border rounded p-3 hover:border-teal-600 hover:text-teal-50 hover:bg-teal-600 transition" %>
    <% active_classes = "border-teal-600 text-teal-50 bg-teal-600" %>

    <div class="flex-1 flex flex-col gap-4">
      <% data.languages.each do |language| %>
        <% first_subject = subjects_for_language(
          language["param"],
          data_languages: data.languages,
          data_articles: data.articles,
          data_subjects: data.subjects
        ).first %>

        <% if language == current_language %>
          <%= link_to(
            language["name"],
            "/#{language["param"]}/articles/#{first_subject["param"]}.html",
            class: [base_classes, active_classes]
          ) %>
        <% else %>
          <%= link_to(
            language["name"],
            "/#{language["param"]}/articles/#{first_subject["param"]}.html",
            class: base_classes
          ) %>
        <% end %>
      <% end %>
    </div>

    <div class="flex-1 flex flex-col gap-4">
      <% subjects_for_language(
        current_language["param"],
        data_languages: data.languages,
        data_articles: data.articles,
        data_subjects: data.subjects
      ).each do |subject| %>
        <% if subject == current_subject %>
          <%= link_to(
            subject["name"],
            "/#{current_language["param"]}/articles/#{subject["param"]}.html",
            class: [base_classes, active_classes]
          ) %>
        <% else %>
          <%= link_to(
            subject["name"],
            "/#{current_language["param"]}/articles/#{subject["param"]}.html",
            class: [base_classes]
          ) %>
        <% end %>
      <% end %>
    </div>
  </div>

  <h3>
    <%= current_subject["name"] %>
  </h3>

  <div>
    <% articles.each do |article| %>
      <div>
        <%= article["title"] %>
      </div>
    <% end %>
  </div>
</div>
