---
title: Introduction
description: Publications of Gunther P. Können
---

<% wrap_layout :introduction do %>
  <div class="prose">
    <h3>
      Publications of G.P. Können
    </h3>

    <p class="text-red-500">
      PDFs available for free download
    </p>

    <p>
      My full names are Günther Peter Können. Despite these German-sounding names, I am a native Dutch.
    </p>


    <p>
      G.P. Können is my usual author name. Occasionally I use:
    </p>

    <ul>
      <li>Gunther P. Können</li>
      <li>Günther P. Können</li>
      <li>Günther Können</li>
    </ul>

    <p>
      Country-depending, my name could have been transformed into
    </p>

    <ul>
      <li>G.P. Konnen</li>
      <li>G.P. Koennen</li>
    </ul>

    <p>
      You may download my papers for <span class="text-green-600">personal use only:<span>
    </p>

    <p>
      If you are interested in a paper on atmospheric optics,
      <%= link_to "click here", "/en/articles/atmospheric-optics.html" %>
    </p>

    <p>
      If you are interested in a paper on climate,
      <%= link_to "click here", "/en/articles/climate.html" %>
    </p>

    <p>
      If you are interested in a paper on astronomy,
      <%= link_to "click here", "/en/articles/astronomy.html" %>
    </p>

    <p>
      If you are interested in a paper on physics and math,
      <%= link_to "click here", "/en/articles/physics-and-math.html" %>
    </p>

    <p>
      If you are interested in one of my short popular articles about optics, meteorology or astronomy,
      <%= link_to "click here", "/en/articles/short-popular-articles.html" %>
    </p>

    <p>
      If you are interested in one of my short papers about something else,
      <%= link_to "click here", "/en/articles/miscellaneous.html" %>
      and you will enter the page 'miscellaneous'.
    </p>

    <p>
      If you are interested in one of my papers written in Dutch,
      <%= link_to "click here", "/nl" %>
    </p>

    <p>
      Indien u geïnteresseerd bent in een artikel in het Nederlands,
      <%= link_to "klik hier", "/nl" %>
    </p>

    <p>
      NB: The layout of this website has been redesigned on 7 September 2022.
    </p>

    <p>
      Photo top: The white spot above the Zeeland-Flandres islands (SW part of Holland) is the subsun, photographed from space by W. Ockels during the ninth and last successful flight of Space Shuttle Challenger, 30 oct – 6 nov 1985. The subsun is a halo. On request of Annemarie Können (12 years old at the time) Ockels chased for halos, with this picture as result. The Netherlands is upside down; the sun blinks yellowish in the Zeeland waters. The subsun is white, as it emerges from reflection on ice crystals which floated high in the atmosphere. Therefore its light had not to traverse through the entire atmosphere.
    </p>
  </div>
<% end %>
