<div>
  <div class="border-b pb-10 mb-10 flex gap-4">
    <% base_classes = "border rounded p-3 hover:border-teal-600 hover:text-teal-50 hover:bg-teal-600 transition" %>
    <% active_classes = "border-teal-600 text-teal-50 bg-teal-600" %>

    <div class="flex-1 flex flex-col gap-4">
      <% data.languages.each do |language| %>
        <% if language["param"] == current_language %>
          <%= link_to language["name"], "", class: [base_classes, active_classes] %>
        <% else %>
          <%= link_to language["name"], "", class: base_classes %>
        <% end %>
      <% end %>
    </div>

    <div class="flex-1 flex flex-col gap-4">
      <% subjects_for_language(current_language).each do |subject| %>
        <%= link_to subject["name"], "", class: "p-3 rounded border" %>
      <% end %>
    </div>
  </div>

  <!-- <div class="border-b pb-10 mb-10">
       <% base_classes = "inline-block text-center w-32 py-3 ml-3 rounded first:ml-0 hover:text-teal-50 hover:bg-teal-600 transition" %>
       <% current_classes = "text-teal-50 bg-teal-600" %>

       <% if current_page.path =~ /^en/ %>
       <%= link_to "English", "/en/articles/atmospheric-optics.html", class: [base_classes, current_classes] %>
       <% else %>
       <%= link_to "English", "/en/articles/atmospheric-optics.html", class: base_classes %>
       <% end %>

       <% if current_page.path =~ /^nl/ %>
       <%= link_to "Nederlands", "/nl/home.html", class: [base_classes, current_classes] %>
       <% else %>
       <%= link_to "Nederlands", "/nl/home.html", class: base_classes %>
       <% end %>

       <% if current_page.path =~ /^de/ %>
       <%= link_to "Deutsch", "/de/home.html", class: [base_classes, current_classes] %>
       <% else %>
       <%= link_to "Deutsch", "/de/home.html", class: base_classes %>
       <% end %>

       <% if current_page.path =~ /^fr/ %>
       <%= link_to "Français", "/fr/home.html", class: [base_classes, current_classes] %>
       <% else %>
       <%= link_to "Français", "/fr/home.html", class: base_classes %>
       <% end %>

       <% if current_page.path =~ /^jp/ %>
       <%= link_to "Japanese", "/jp/home.html", class: [base_classes, current_classes] %>
       <% else %>
       <%= link_to "Japanese", "/jp/home.html", class: base_classes %>
       <% end %>
       </div> -->
  <!-- <div class="border-b pb-10 mb-10">
       <% base_classes = "inline-block text-center w-32 py-3 ml-3 rounded first:ml-0 hover:text-teal-50 hover:bg-teal-600 transition" %>
       <% current_classes = "text-teal-50 bg-teal-600" %>

       <% if current_page.path =~ /^en\// %>
       <% if current_page.path == "en/articles/atmospheric-optics.html" %>
       <%= link_to "Atmospheric Optics", "/en/articles/atmospheric-optics.html", class: [base_classes, current_classes] %>
       <% else %>
       <%= link_to "Atmospheric Optics", "/en/articles/atmospheric-optics.html", class: base_classes %>
       <% end %>
       <% end %>
       </div> -->

  <div>
    <%= yield %>
  </div>
</div>
