---
title: Introductie
---

<% wrap_layout :introduction do %>
  <div class="prose">
    <h3>
      Publicaties van G.P. Können
    </h3>

    <p class="text-red-500">
      PDFs zijn gratis beschikbaar
    </p>

    <p>
      Indien u geïnteresseerd bent in artikelen over atmosferische optica,
      <%= link_to "klik hier", "/nl/articles/optische-verschijnselen.html" %>
    </p>

    <p>
      Indien u geïnteresseerd bent in artikelen over klimaat en weerkunde,
      <%= link_to "klik hier", "/nl/articles/klimaat-en-weer.html" %>
    </p>

    <p>
      Indien u geïnteresseerd bent in artikelen over sterrenkunde,
      <%= link_to "klik hier", "/nl/articles/sterrenkunde.html" %>
    </p>

    <p>
      Indien u geïnteresseerd bent in artikelen over natuurkunde,
      <%= link_to "klik hier", "/nl/articles/natuurkunde.html" %>
    </p>

    <p>
      Indien u geïnteresseerd bent in korte stukjes over diverse onderwerpen binnen de optica, sterrenkunde, klimaat of weerkunde,
      <%= link_to "klik hier", "/nl/articles/korte-populaire-stukjes.html" %>
    </p>

    <p>
      Indien u geïnteresseerd bent in korte stukjes over diverse onderwerpen buiten het vak,
      <%= link_to "klik hier", "/nl/articles/diverse-onderwerpen.html" %>:
      u gaat dan de rubriek 'miscellaneous' van deze website binnen
    </p>

    <p>
      Foto hierboven: De witte vlek boven de Zeeuwse eilanden is de onderzon, gefotografeerd door Wubbo Ockels gedurende de 9e en laatste succesvolle ruimtevlucht van de Spaceshuttle Challenger, 30 okt – 6 nov 1985. De onderzon is een halo. Op verzoek van Annemarie Können (destijds 12 jaar) keek Ockels uit naar halo’s, met deze foto als resultaat. Nederland staat onderste boven; de zon weerkaatst geelachtig in de Zeeuwse wateren. De onderzon is wit omdat hij ontstaat door weerkaatsing op ijskristallen die hoog in de atmosfeer zweven. Hierdoor is zijn licht niet door de hele atmosfeer heen gegaan.
    </p>
  </div>
<% end %>
